/*
COMPONENTS: Componentes acabados, Elementos de UI
	aislados
	reusables
	flexibles
	agnósticos de su contenido
Aquí va a estar el grueso de los estilos
Se refieren a
	colors y borders
	tipografia
	formularios
	box model properties on child elements
Se organizan en carpetas
*/
/*GLOBALES*/
/*



/*MENU*/

