.s-wysinwyg {
  /* TODOS LOS HEADINGS como el texto */
  h1, h2, h3, h4, h5, h6 {
    font-size: var(--base-font-size);
  }
  ul, ol {
    margin-left: var(--base-spacing-unit);
  }
  /* DOS SALTOS DE LINEA */
  br + br {
    display: none;
  }

}