/*
Theme Name: theme child
Template: theme
Version: 1.0
Author: AGARIZA
Theme URI: ***
Author URI: http://wwwalbertoariza.com/
*/

@import '01_settings/_variables.pcss';
@import '06_components/components.pcss';
@import '08_wins/wins.pcss';
