.o-layout {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-left: calc( var(--base-spacing-unit) * -1);
}

.o-layout__item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: var(--base-spacing-unit);
}
