.o-pack {
	width: 100%;
  margin-left: 0;
  display: table;
  table-layout: fixed;
  border-spacing: var(--base-spacing-unit);
}
.o-pack__item {
  display: table-cell;
  vertical-align: top;
}