/* COLORES */

.u-color--primary {
    color: var(--primary-color);
}
.u-color--secondary {
    color: var(--secondary-color);
}
.u-color{

}

/* ALINEACIONES */

.u-text--left {
    text-align: left;
}

.u-text--right {
    text-align: right;
}

.u-text--center {
    text-align: center;
}


/* ESPACIOS*/
/* POSICIONES */
.u-pos--rel {
	position: relative;
}