:root {
    /* COLORES */
    --naranja: #ff5617;
    --lila: #ac39ff;
    --cyan: #1adeff;
    --cyan-oscuro: #15b2cc;
    --amarillo: #e8d722;
    --verde: #16874b;
    --negro:#1c1f21;
    /* APLICACION COLORES */
    --primary-color: var(--naranja);
    --secondary-color: var(--cyan);
    --dark-bg-color: var(--negro);
    /* TIPOGRAFIA */
    --base-font-size: 13px;
    /* ESPACIADOS */
    --base-spacing-unit: 15px;
    /* TIEMPOS */
}
